body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
span{ 
    display: block;
    background-color: yellow;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 20px;
}
#player_desk{
    display: flex;                /*background: -webkit-linear-gradient(yellow,red);
    background: -o-linear-gradient(yellow,red);
    background: -moz-linear-gradient(yellow,red);
    background: linear-gradient(yellow,red); */
    padding: 3px;
    justify-content: center;
    flex-wrap: wrap;
}
.child{
    background-color: aqua;
    height: 200px;
    width: 100px;
    margin: 10px;
    
}